<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<title>$title</title>
<style type="text/css">
<!--
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt;
}
table { border-collapse: collapse; }
th, td { padding: 0 2pt; border: 1px solid black; }
.rank { font-weight: bold; }
.total .points { font-weight: bold; }
thead .name, thead .section { text-align: left }
.rank { text-align: right }
-->
</style>
</head>
<h1>$title</h1>
#for $category, $ranklist in $categories
<h2>Kategorie $category</h2>
<table>
  <thead>
    <tr>
      <th>Rang</th>
      <th class="name">Name, Vorname</th>
      <th class="section">Sektion</th>
      <th>Jhrg</th>
      <th>Sprint</th>
      <th>Weit</th>
      <th>Hoch</th>
      <th>Kugel</th>
      <th>Ball</th>
      <th>Punkte</th>
      <th>Ausz.</th>
      <th>Final</th>
    </tr>
  </thead>
  #for $athlete in $ranklist
  <tr>
    <td class="rank">$athlete.rank</td>
    <td class="name">$athlete.lastname $athlete.firstname</td>
    <td class="section">$athlete.r_section.name</td>
    <td class="age_cohort">$athlete.year_of_birth</td>
    <td class="discipline result">$athlete.sprint_result</td>
    <td class="discipline result">$athlete.longjump_result</td>
    <td class="discipline result">$athlete.highjump_result</td>
    <td class="discipline result">$athlete.shotput_result</td>
    <td class="discipline result">$athlete.ball_result</td>
    <td colspan="3"></td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td class="discipline points">$athlete.sprint_points</td>
    <td class="discipline points">$athlete.longjump_points</td>
    <td class="discipline points">$athlete.highjump_points</td>
    <td class="discipline points">$athlete.shotput_points</td>
    <td class="discipline points">$athlete.ball_points</td>
    <td class="total points">$athlete.total_points</td>
    <td class="award">$athlete.award</td>
    <td class="qualify">#if $athlete.qualify then "F" else ""#</td>
    <td></td>
  </tr>
  #end for
</table>
#end for
</html>
